body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: 30px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.thumbnail {
    width: 120px;
    height: 120px;
    background-color: #ddd;
    border-radius: 8px;
    overflow: hidden; /* 이미지 자르기 설정 */
}
.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지가 상자의 크기에 맞게 조정되며 비율 유지 */
    border-radius: 8px; /* 썸네일 모서리를 둥글게 설정 */
}
.header-info {
    flex-grow: 1;
    margin-left: 20px;
}
.header-info h1 {
    font-size: 28px;
    margin: 0;
}
.header-info p {
    font-size: 18px;
    color: #888;
}
.keys-info {
    font-size: 18px;
    font-weight: bold;
    color: #555;
    margin-top: -15px; /* 텍스트를 한칸 위로 */
}
.star-rating {
    text-align: center;
    background-color: #ff66aa;
    color: white;
    font-size: 16px;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.keys-container {
    width: 35%; /* 오른쪽에 배치될 상자 */
    background-color: #e0e0e0;
    padding: 15px;
    border-radius: 8px;
    margin-left: auto; /* 오른쪽 정렬 */
}
.keys-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.keys-box div {
    width: 48%;
    text-align: center;
}
.keys-box .info-label {
    font-size: 14px;
    color: #555;
}
.keys-box .info-value {
    font-size: 16px;
    color: #333;
}
